CompileFlags:
  Remove: [
    -rdc=true,
    -ccbin=*,
    -forward-unknown-to-host-compiler,
    --generate-code=*,
  ]
  Add: [
    # This is kind of a hack to say EVERY file is cuda...
    # Ideally, this could just be used in particular directories or files...
    -xcuda,
    --cuda-gpu-arch=sm_80,
    # tell clangd where cute and cutlass headers are
    -I/pub/afeeney/project/cutlass/include
  ]
